
/*Dark Mode*/
.dark-mode {
    background-color: rgb(56,56,56);
}

/*Dark Mode*/
#darkModeBtn {
    border-radius: 25%;
    background-color: rgb(56,56,56);
    width: 35px;
    height: 35px;
}

body {
    height: 100%;
    color: rgb(119,119,119);
    background-image: url(Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 600px;
}

#flexcontainer {
    display: flex;
    flex-flow: column wrap;
}

#main {
    font-size: 20px;
    width: 75vw;
    margin: auto;
}

#NavBar {
    display: flex;
    height: 50px;
    width: 74vw;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#banner {
    display: flex;
    /*    margin: auto;*/
    height: 500px;
    align-items: center;
    justify-content: center;
    background-image: url(Thai_Flag.jpg);
    background-size: 100% 100%;
}

#spacer {
    height: 250px;
}

#flexcontainer1 {
    display: flex;
    /*    margin: auto;*/
    height: 500px;
    justify-content: center;
    background-image: url(Buddha.jpg);
}

#flexcontainer2 {
    display: flex;
    /*    margin: auto;*/
    height: 500px;
    align-items: center;
    justify-content: center;
}

#flexcontainer3 {
    display: flex;
    /*    margin: auto;*/
    height: 700px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#flexcontainersection {
    width: 45%;
    text-align: center;
    flex-flow: wrap;
}

#footer {
    height: 500px;
    text-align: center;
    width: 75vw;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
    font-weight:700;
}

table {
    width: 100%;

}

tablename {
    align-items: center;
    justify-content: center;
}

tableprice {
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    body {
        background-size: 90vw;
    }

    #flexcontainer1 {
        height: 750px;
        flex-direction: column;
        background-image: url(BuddhaLarge.jpg);
    }

    #flexcontainer2 {
        height: 750px;
        flex-direction: column;
    }

    #flexcontainer3 {
        height: 1400px;
        flex-direction: column;
    }

    #flexcontainersection, #flexcontainercontactus {
        width: 70vw;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .google-maps {
        position: relative;
        padding-bottom: 75%;
        // This is the aspect ratio height: 0;
        overflow: hidden;
    }

        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
}
